.spintoy {
	position: relative;
	opacity: 1;
	transition: opacity ease 2s;
	width: 27rem;
	height: 27rem;

	&.scrolled-below {
		opacity: 0;
	}

	> span {
		display: block;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 27rem;
		height: 27rem;
	}

	.spintoy-icon-bg {
		background-image: url("../img/jockey_wheel.png");
		position: absolute;
		left: 50%;
		margin-left: -13.5rem;
		z-index: 0;
		transform-origin: 50%;
		animation-duration: 3s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}

	.spintoy-icon-fg {
		background-image: url("../img/jockey_wheel_shine.png");
		position: relative;
		margin: 0 auto;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			height: 9rem;
			width: auto;
		}
	}

	figcaption {
		margin-top: 3rem;
		text-align: center;

		h3 {
			line-height: 1.4;
		}

		p {
			margin-bottom: 0;
		}
	}
}
